
     

      paper-button {
        background: rgb(63, 172, 0);
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800
      }


/*       
        width: calc(100vw - 16px);

        position: absolute;
        bottom: 8px;
      } */

      .card-flex-box paper-input {
        flex-grow: 2;
      }

      .submit-message-btn {
        width: 80px;
        height: 45px;
        margin: auto 10px;
      }

      .message-text-input {
        margin: 5px 5px 5px 10px;
      }

      .user-info {
        margin: auto;
      }

      .message-ava {
        margin: 5px;
      }

      #chatwindow {
        height: 58vh;
        overflow-y: scroll;
      }